@charset "UTF-8";

body , html {
      margin: 0;
      padding: 0;
      display: block;
      min-width: 100%;
      min-height: 100%;
}

footer , header , nav , li , div , ul , body , h5, h1 , h2 , h3 , h6 , h4 {
  display: block;
  padding: 0;
  margin: 0;
}

.content{
      background-image: url(pexels-photo-301614.jpg);
      background-size: cover;
      -moz-background-size: cover;
      -webkit-background-size: cover;
      background-repeat: no-repeat;
      min-height: 100vh;
      background-position: center;
}
.bg{
      width: auto;
      min-height: 100vh;
      background-color: #093346;
      animation: gradient 20s ease-in-out;
      opacity: 0.9;
}
@keyframes gradient{
             0% {
               background-color: #093346;
             }
             40% {
               background-color: #3a4b52;
             }
             80% {
               background-color: #353535;
             }
             100% {
               background-color: #093346;
             }

}

#nextopt{
       width: auto;
       animation: gradient 20s ease-in-out;
       background-color: #093346;
}
#nextopt.popup{
       display: block;

}
#gridsystem{
       display: grid;
       grid-template-columns: repeat(3, 1fr);
       grid-column-gap: 10em;
       grid-row-gap: 5em;
       grid-auto-rows: minmax(50px, 50px);
       width: 80%;
       margin: 50px auto;
       padding: 5% 3% ;
       box-sizing: border-box;
       transform: translateX(-120%);
       transition: all 2s ease-in-out 1.5s;
       position: absolute;
       top: 20%;
       left: 0;
       right: 0;
}
#gridsystem.open{
        transform: translateX(0);
}
#opt1 , #opt2 , #opt3, #opt4, #opt5, #opt6 {

     border: 0.5px solid white;
     border-top: none;
     border-bottom: none;
     text-align: center;
     font-family: "century gothic", arial;
     font-size: 10px;
     font-weight: lighter;
     color: white;
     padding: 12% 0;
     cursor: pointer;
     transition: all 0.3s ease-in-out;
     position: relative;
}
#opt1:hover {
     padding: 21% 0;
}
#opt2:hover {
    padding: 21% 0;
}
#opt3:hover {
    padding: 21% 0;
}
#opt4:hover {
     padding: 21% 0;
}
#opt5:hover {
     padding: 21% 0;
}
#opt6:hover {
     padding: 21% 0;
}
#num1{

   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   position: absolute;
   font-size: 12px;
   font-weight: bold;
}
#num2{

   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   position: absolute;
   font-size: 12px;
   font-weight: bold;
}
#num3{

   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   position: absolute;
   font-size: 12px;
   font-weight: bold;
}
#num4{

   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   position: absolute;
   font-size: 12px;
   font-weight: bold;
}
#num5{

   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   position: absolute;
   font-size: 12px;
   font-weight: bold;
}
#num6{

   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   position: absolute;
   font-size: 12px;
   font-weight: bold;
}
#h2{
   font-family: "raleway", arial;
   font-weight: lighter;
   font-size: 60px;
   text-align: center;
   color: white;
   padding-top: 400px;
   opacity: 0;
   transition: padding-top 3s ease-in-out , opacity 4s ease-in-out ;
}
#h2.show{
     opacity: 1;
}

#h3{
   font-family: "raleway", arial;
   font-weight: lighter;
   font-size: 10px;
   text-align: center;
   color: white;
   padding-top: 100px;
   opacity: 0;
   transition: padding-top 3s ease-in-out , opacity 3s ease-in-out;
}
#h3.show{
     opacity: 1;
}

#confirm{
       background-color: #3a4b52fc;
       position: fixed;
       top: 0;
       left: 0;
       right: 0;
       bottom: 0;
       padding-top: 300px;
       display: none;
}

#confirmed{
       background-color: #353535fa;
       position: fixed;
       top: 0;
       left: 0;
       right: 0;
       bottom: 0;
       padding-top: 300px;
       z-index: 10;
       display: none;

}


h4{
  font-family: "raleway", arial;
  font-weight: 300;
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
  color: white;
}
#reached{
  background-color: #4d2700fc;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding-top: 300px;
  z-index: 11;
  display: none;
  transition: all 0.7s ease-in-out;
  animation: reach 0.7s ease-in-out;

}
@keyframes reach {
  from{
      opacity: 0;
  }
  to{
     opacity: 1;
  }
}
#reached.done{
       display: block;
       transition: all 0.7s ease-in-out;

}

@keyframes showcom {
              from{
                  opacity: 0;
              }
              to{
                   opacity: 1;
              }
}

#save{
  width: 150px;
  border: 0.5px solid white;
  border-right: none;
  border-left: none;
  margin: 400px auto 0 auto;
  text-align: center;
  padding: 10px;
  text-decoration: none;
  font-family: "century gothic", arial;
  font-size: 10px;
  font-weight: lighter;
  color: white;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  display: none;
  animation: showcom 1s ease-in-out;
}

@keyframes showcom {
              from{
                  opacity: 0;
              }
              to{
                   opacity: 1;
              }
}
#save.showsave{
      display: block;
}
#save:hover {
  padding: 15px;
}

#back{
  width: 150px;
  border: 0.5px solid white;
  border-right: none;
  border-left: none;
  margin: 50px auto 0 auto;
  text-align: center;
  padding: 10px;
  text-decoration: none;
  font-family: "century gothic", arial;
  font-size: 10px;
  font-weight: lighter;
  color: white;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
#back:hover {
  padding: 15px;
}

h5 {
  font-family: "raleway", arial;
  font-weight: lighter;
  font-size: 30px;
  text-align: center;
  color: white;
  padding-top: 250px;
  display: none;
}

/* Media Queries */




@media screen and (max-width: 850px)  {

  #nextopt{
         width: auto;
         animation: gradient 20s ease-in-out;
         background-color: #093346;
         display: none;
  }
        #save {
          width: 150px;
          border: 0.5px solid white;
          border-right: none;
          border-left: none;
          margin: 100px auto 0 auto;
          text-align: center;
          transition: all 0.3s ease-in-out;
          display: none;
        }

        h5 {
          font-family: "raleway", arial;
          font-weight: lighter;
          font-size: 30px;
          text-align: center;
          color: white;
          padding-top: 250px;
          display: block;
        }


}
